<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my first <%= title %> page.</p>
    <a href="http://localhost:3000/userlist">Visit our users page.</a> <br>
    <a href="http://localhost:3000/helloworld" style="color:white">My secret place...</a>
  </body>
</html>