<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <%
        var list = [];
        var email = [];
        for (i = 0; i < userlist.length; i++) {
          list.push(userlist[i].username);
          email.push(userlist[i].email);
        }
      %>

        <%for (i = 0; i < userlist.length; i++) {%>
          <li>
            <a href= 'mailto:<%= email[i] %>'> 
              <%= list[i]%>
            </a>
          </li>
        <%}%>
    </ul>
    <a href="http://localhost:3000/newuser">Click here to add users.</a> <br>
    <a href="http://localhost:3000/helloworld" style="color:white">My secret place...</a><br>
    <a href="http://localhost:3000">Return to the homepage.</a>
  </body>
</html>